---
layout: portfolio
title: Integrating G3D renderer with bulletphysics
section: Portfolio
repository: Dante-666/bouncy-ball
g3dbullet: nNDSYBviJiY
ogrebullet: 5z51WMqBaiA
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="col-lg-4 col-sm-6 mb-4" style="margin:auto">
      <article class="card shadow">
	<div class="card-body">
	  <h4 class="card-title">
	      <a class="text-dark" href="https://github.com/Dante-666/bouncy-ball">bouncy-ball</a>
	  </h4>
	  <p class="card-text">hello world game for g3d development and learning, use gh-metadata later</p>
	</div>
      </article>
    </div>
    {% include youtube.html id=page.g3dbullet %}
    <div class="row">
    <section class="subsection">
      <h3>Introduction</h3>
      <p>I've worked with game engines like <a class="text-dark" href="https://www.ogre3d.org/">Ogre3D</a> and 
      <a class="text-dark" href="http://irrlicht.sourceforge.net/">Irrlicht</a> before but these two are more 
      renderer than game engine because they don't come with a physics system integrated. They have extensions
      for enabling physics and in my early game development explorations, I've used Ogre with 
      <a class="text-dark" href="http://wiki.ogre3d.org/OgreBullet">OgreBullet</a> which incorporated Bullet
      Physics 2.x. This was way back and I was using an HP 630 Laptop with Core i3-2330M back then with 2GB RAM 
      and no inbuilt graphics and had very little idea about how graphics worked.</p>
      {% include youtube.html id=page.ogrebullet %}
      <p>I had used Blender to export the meshes as *.obj/mtl files. Designing the box was easy as that's the
      one which is there when you open a new project. Designing the football was a bit tricky however and I
      followed a couple of video tutorials and ended up with a very high-poly model which slowed down the engine
      too much. The one in the video has a very low polygon count and I guess I used an icosphere and some trials
      to achieve that.</p>
    </section>
    </div>
    <div class="row">
    <section class="subsection">
      <h3>G3D and BulletPhysics</h3>
      <p>Ogre3D and Irrlicht are good but new versions don't come out so often. I was studying design patterns and
      I wanted some use cases for applying these patterns/principles and game engines/game development are one of
      the best places in which these paradigms find applications. I searched for a new C++ based game engine with
      a more active release cycle and active community and came across 
      <a class="text-dark" href="https://casual-effects.com/g3d/www/index.html">G3D</a>. It has many cool features
      and this was developed by people with years of academic and professional experience in computer graphics.
      This engine suited my needs and it was open-source and it looked well designed with good documentation.</p>
      <p>Also, the engine didn't have integrated physics and this seemed like an opportunity for me to explore.
      It ships an old version of PhysX but I didn't have access to the source code. I had worked with 
      <a class="text-dark" href="https://pybullet.org/wordpress/">Bullet Physics</a>
      before and I thought it would be a good exercise to integrate these two.</p>
    </section>
    </div>
    <div class="row">
    <section class="subsection">
      <h3>Background</h3>
	<p>The Game engine and the Physics engine are two softwares have very different responsibilities and thus 
	should be maintained separately. The Game engine utilizes more GPU resources as it's job is to draw triangles 
	on the screen and it abstracts the platform dependent tasks such as window creation and the shader pipeline.
	Depending on the functionality, it allows users to write OpenGL shaders or DirectX shaders and call the 
	appropriate and usually the user doesn't have to deal with the graphic calls and binding of vertex attributes
	and texture or custom parameters. It usually runs a loop, more traditionally called a game-loop inside which,
	the screen is drawn repeatedly and based on the position of the camera, the object is 
	<a class="text-dark" href="https://en.wikipedia.org/wiki/3D_projection#Perspective_projection">projected</a>
	 accordingly.
	Objects are inserted in a Scene graph which has a root node positioned at the origin and all objects are attached
	to it. To represent an object faithfully in 3-D space, we need 6 degrees of freedom or 6DOF and is represented
	by a composition of a 3x3 rotation matrix and 3x1 position vector 
	<a class="text-dark" href="https://en.wikipedia.org/wiki/Rigid_transformation">[R | t]</a>.
	For now, this is enough information for upcoming things to make sense.
	</p>
	<p> 
	The Physics engine has a completely different task. It is designed to simulate physical phenomena like gravity,
	application of force and collision between objects. There are different types of objects such as RigidBodies which
	can simulate contact responses and rotations or SoftBodies which can be used to model deformable objects such as
	rubber or cloth. Internally, the position of these objects are also stored in a [R | t] matrix, also called the
	rigid transformation matrix. RigidBody is non-deformable and usually doesn't represent real world objects very
	faithfully, there are <a class="text-dark" href="https://gpuopen.com/femfx/">FEM</a> based physics engines that
	solve this problem and can be implemented but that's a project for another day. In this project, we will attempt
	to implement very basic functionality to support Trigger objects and force dynamics.
	</p>
	<img src="assets/images/portfolio/bullet-physics/scheme.png" alt="Approach" 
	class="img-fluid rounded d-block" style="margin-bottom:3rem;margin-top:3rem">
      <p>In order to integrate the Game and Physics engines, we should have some way of synchronizing these two worlds.
      Both operate on different objects and we should maintain some sort of a mapping between these entities. At the time
      of instantiating Game objects, it's counterpart is created in the Physics engine.
      As seen in the figure, the game engine runs a loop which has a certain time-step, this time-step is used to evolve
      the physical state. Then, the rigid transformation of all Game objects which have a Physics counterpart is updated
      and this cycle continues.</p>
    </section>
    <section class="subsection">
      <h3>Design</h3>
      <p>The Scene graph is managed by the Scene object in G3D, and the nodes which are inserted is an Entity object.
      Two basic types of entities are provided, a VisibleEntity and a MarkerEntity and these will be subclassed for
      our use case. As the names suggest, VisibleEntity is something that is rendered on the screen and a MarkerEntity
      is something which can be used as a trigger object but not visible to the camera.</p>
	<img src="assets/images/portfolio/bullet-physics/scene.png" alt="Scene Design" 
	class="img-fluid rounded d-block" style="margin-bottom:3rem;margin-top:3rem">
      <p>As for the engine, I didn't want to stick to just one so I designed an interface which accepts G3D objects
      and can be queried for position updates. This was never intended for performance and this introduces an additional
      vtable call but for the current use case, this can be ignored. The interface was realized with a Bullet implementation
      which holds a pointer to the dynamics world and objects can be inserted in it. It also maintains a HashMap for constant
      time lookup so that an Entity can query for it's position in it's onSimulation method. Again, what I have in mind is
      to come up with different types of entities, for example, TeleporterEntity, which contains a GhostEntity and can query
      the physics engine for overlapping object and based on some other rules(distance from the center, or time spent in
      overlapped state) to transport this object to another coordinate. Or we could have TimeTravelEntity, which store their
      past 6DOF positions for a certain time and based on some trigger, can travel back in time.
      </p>
	<img src="assets/images/portfolio/bullet-physics/data_and_object.png" alt="Scene Design" 
	class="img-fluid rounded d-block" style="margin-bottom:3rem;margin-top:3rem">
      <p>We also need to think about object construction, I came up with a generic method for GO(G3D Object) to EO(physics
      Engine Object) and depending upon the type of object and the type of engine, these template arguments could be 
      specialized to construct appropriate objects.
      </p>
    </section>
    <section class="subsection">
      <h3>WWF History</h3>
      <p>The World Wide Fund for Nature (WWF) is an international organization working on issues 
      regarding the conservation, research and restoration of the environment, formerly named the 
      World Wildlife Fund. WWF was founded in 1961.</p>
    </section>
    <section class="subsection">
      <h3>WWF History</h3>
      <p>The World Wide Fund for Nature (WWF) is an international organization working on issues 
      regarding the conservation, research and restoration of the environment, formerly named the 
      World Wildlife Fund. WWF was founded in 1961.</p>
    </section>
  </div>
</div>
</section>
<!-- /portfolio -->
