{% if site.data.settings.blog-home-items %}
<!-- blog -->
<section id="blog" class="section-scroll section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
	<section>
	  <h2 class="section-title">Blogs</h2>
	  <p>
	  </p>
	<section>
      </div>
      {% for post in site.posts offset:0 limit:3 %}
      {% include post.html %}
      {% endfor %}
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.blog-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image"
	  class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" 
	      href="{{ item.url }}">View Blog</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->
{% endif %}
