{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section-scroll section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12">
	<section>
	  <h2 class="section-title text-center" style="margin-bottom:1rem">Portfolio</h2>
	  <h4 style="margin-bottom:1rem" class="text-light">
	      Some more involved projects around Game engines and design. 
	      These projects are short and not too complicated as I have to satisfy all the roles. 
	      Anything complex becomes unachievable due to a lack of artists and resources.
	      Because of the pandemic, I'm working on cocos2d-x at the moment(couldn't bring my PC
	      to my hometown).
	  </h4>
	<section>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image"
	  class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}
