// Color Variables
$primary-color: #41228e;
$secondary-color: #2bfdff;
$github-text-dark: #c9d1d9;
$github-text: #8b949e;
$text-color: $github-text;
$text-color-dark: $github-text-dark;
$text-color-light: #999;
$github-black: #0d1117;
$body-color: $github-black;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$github-card-color: #21262d;

// Font Variables
$primary-font: 'Roboto Slab', sans-serif;
$secondary-font: 'Playfair Display', sans-serif, bold;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';
